body{
    text-align: center;
    background-color: rgb(178, 204, 46);
}
h1{
    margin-top: 20px;
}
#guessesLeft{
    margin-bottom: -30px;
}
div{
    margin: 15px;
    font-size: 60px;
}
canvas{
    border:5px black solid; 
    margin-bottom: 20px;
}

input{
    width: 200px;
    text-align: center;
    font-size: 25px;
    background-color: rgba(0,0,0,50%);
    color: white;
    
}
::placeholder{
    color: rgb(191, 191, 191);
}

#letterGuess{
    width: 75px;
}
#errorMsg{
    font-size: 20px;
    color: rgb(190, 9, 9);
}
button{
    margin-top: 10px;
}
#usedWords{
    font-size: 35px;
    font-weight: bold;
}
#wordsFromUser{
    font-size: 25px;
}